<!-- <!doctype html> -->
<html lang="en">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="robots" content="{{ ROBOTS_CONTENT | default('noindex, nofollow') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content=" TWITTER_CARD_VALUE | default('summary') }}"/>
    {% if TWITTER_USERNAME %}
        <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}"/>
    {% endif %}
    {% block head_meta %}{% endblock %}
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/
            {% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
              type="application/atom+xml" rel="alternate" title="{{ SITENAME|striptags }} Atom Feed"/>
    {% endif %}

    <!-- Basic Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- Web App Manifest for Android/Chrome -->
    <link rel="manifest" href="/manifest.json">

    <!-- Theme Color for Browsers -->
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <noscript><link rel="preload" href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"></noscript>
    <noscript><link rel="preload" href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"></noscript>
    <noscript><link rel="preload" href="https://www.w3schools.com/w3css/5/w3.css" as="style" onload="this.onload=null;this.rel='stylesheet'"></noscript>
    <noscript><link rel="preload" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" as="style" onload="this.onload=null;this.rel='stylesheet'"></noscript>
    <noscript><link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"/></noscript>
    {% if FONTAWESOME %}
        <script async src="https://kit.fontawesome.com/{{ FONTAWESOME }}.js" crossorigin="anonymous"></script>
    {% endif %}
    {% if GOOGLE_ANALYTICS %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', '{{ GOOGLE_ANALYTICS }}');
        </script>
    {% endif %}
</head>

<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        {% block header %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}

    <!-- END w3-content -->
</div>

<footer class="w3-container w3-dark-grey w3-padding-16 w3-margin-top">
    <nav class="w3-row">
        <div class="w3-threequarter w3-container">
            {% if page_name not in ["categories", "tags", "authors"] %}
                <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">&laquo; Previous
                </button>
                <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Next &raquo;</button>
            {% endif %}
        </div>
        <div class="w3-quarter w3-container w3-right-align">
            <a href="{{ SITEURL }}/">
                <button class="w3-button w3-black w3-padding-large w3-margin-bottom">🏠 Home</button>
            </a>
        </div>
    </nav>
    Copyright {{ CURRENT_YEAR }} {{ AUTHOR }}<br/>
    <a href="{{ LICENSE_URL }}">{{ LICENSE }}</a> license<br/>
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a><br/>
</footer>
</body>

</html>
