<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="robots" content="{{ ROBOTS_CONTENT | default('noindex, nofollow') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_meta %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/w3css/5/w3.css" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/fontawesome-free-7.0.0-web/css/all.min.css"
          rel="stylesheet"/>
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" rel="stylesheet"/>
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
          type="application/atom+xml" rel="alternate" title="{{ SITENAME|striptags }} Atom Feed"/>
    {% endif %}
    {% block head_link %}{% endblock %}
    {% block stylesheets %}{% endblock %}
    {% if GOOGLE_ANALYTICS %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ GOOGLE_ANALYTICS }}');
    </script>
    {% endif %}
    {% block scripts %}
    {% endblock %}
</head>

<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        {% block header %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}

    <!-- END w3-content -->
</div>

<footer class="w3-container w3-dark-grey w3-padding-16 w3-margin-top">
    {% block footer %}
    {% endblock %}
    <p>Copyright {{ CURRENT_YEAR }} {{ AUTHOR }}</p>
    <p><a href="{{ LICENSE_URL }}">{{ LICENSE }}</a> license</p>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
</body>

</html>
