{% extends 'base.html' %}

{% block header %}
    <h1><a href="{{ SITEURL }}/"><strong>{{ SITENAME }}</strong></a></h1>
    {% block sitesubtitle %}<p>{{ SITESUBTITLE }}</p>{% endblock %}
{% endblock %}

{% block content %}
    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            {% if articles %}
                {% for article in articles_page.object_list %}
                    <!-- Blog entry -->
                    <div class="w3-card-4 w3-margin w3-white">
                        <img src="{{ article.icon }}" alt="{{ article.icon_alt }}" style="width:100%">
                        <div class="w3-container">
                            <h3><strong>{{ article.title }}</strong></h3>
                            <h5>{% if article.title_description %}{{ article.title_description }},{% else %}
                                Created{% endif %} <span
                                    class="w3-opacity">{{ article.date.strftime("%B %d, %Y") }}</span></h5>
                        </div>

                        <div class="w3-container">
                            <p>{{ article.summary }}</p>
                            <div class="w3-row">
                                <div class="w3-col m8 s12">
                                    <p>
                                        <a href="{{ SITE_URL }}/{{ article.url }}">
                                            <button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE
                                                »</b>
                                            </button>
                                        </a>
                                    </p>
                                </div>
                                <div class="w3-col m4 w3-hide-small">
                                    <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span
                                            class="w3-tag">0</span></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <p class="w3-card-4 w3-margin w3-white" style="padding: 32px;">This site currently has no content.</p>
            {% endif %}
            <!-- END BLOG ENTRIES -->
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <img src="{{ AVATAR_IMAGE }}" style="width:100%" alt="{{ AUTHOR }}">
                <div class="w3-container w3-white">
                    <h4><b>{{ AUTHOR }}</b></h4>
                    <p>{{ AVATAR_MESSAGE }}</p>
                </div>
            </div>
            <hr>

            <!-- categories -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4><a href="{{ SITEURL }}/categories.html">categories</a></h4>
                </div>
                <div class="w3-container w3-white">
                    <p>
                        {% for cat, null in categories|sort %}
                            <span class="w3-tag {% if cat == category %}w3-black{% else %}w3-light-grey{% endif %} w3-margin-bottom"><a
                                    href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></span>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <hr>

            <!-- Labels / tags -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4><a href="{{ SITEURL }}/tags.html">tags</a></h4>
                </div>
                <div class="w3-container w3-white">
                    <p>
                        {% for tag, null in tags|sort %}
                            <span class="w3-tag w3-light-grey w3-margin-bottom"><a
                                    href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <hr>

            <!-- links -->
            {% if LINKS %}
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>{{ LINKS_WIDGET_NAME | default('links') }}</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        {% for name, link in LINKS %}
                            <li class="w3-padding-16">
                                <a href="{{ link }}">{{ name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
            {% endif %}

            <!-- social media -->
            {% if SOCIAL or FEED_ALL_ATOM %}
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>{{ SOCIAL_WIDGET_NAME | default('social') }}</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <p>
                            {% if FEED_ALL_ATOM %}
                                <a class="w3-tag w3-light-grey w3-margin-bottom" href="{{ FEED_DOMAIN }}/









                                        {% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"><i
                                        class="fa-solid fa-atom"></i></a>
                            {% endif %}

                            {% for fontawesome, link in SOCIAL %}
                                <a class="w3-tag w3-light-grey w3-margin-bottom" href="{{ link }}"><i
                                        class="{{ fontawesome }}"></i></a>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endif %}

            <!-- END Introduction Menu -->
        </div>

        <!-- END GRID -->
    </div><br>
{% endblock %}

{% block footer %}
    <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
    <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
{% endblock %}
